.wrapper-task{
    height: 150px;
    width: 360px;
    background: #DADADA;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: grab;
    &::before{
        content: '';
        display: block;
        height: 30px;
        background: #4A9545;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &-title{
        padding: 10px;
        &-text{
            font-family: 'Questrial', sans-serif;
            font-size: 25px;
        }
    }
}