<nav class="wrapper-navigation">
    <div class="wrapper-navigation-container">
        <app-logo></app-logo>
    </div>
    <ul class="wrapper-navigation-list">
        <li class="wrapper-navigation-list-element" routerLink="/home">home</li>
        <li class="wrapper-navigation-list-element">about</li>
        <li class="wrapper-navigation-list-element" routerLink="/login">{{textInLoginFrame}}</li>
        <li (click)="navigate()" class="wrapper-navigation-list-element">{{textInGreenFrame || 'undefined'}}</li>
    </ul>
</nav>
